<html>
    <head>
        <meta charset="utf-8" />
        <title>Noticias</title>
    </head>
    <body>
        <h1>Noticias</h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Título</td>
                <td>Notícia</td>
            </tr>
                <tr>
                    <td>ID</td>
                    <td>Título da Noticia</td>
                    <td>Notica</td>
                </tr>
        </table>
    </body>
</html>