<html>
    <head>
        <meta charset="utf-8" />
        <title>Formulário de Cadastro de Noticias</title>
    </head>
    <body>
        <h1>Adicionar Noticias</h1>
        <br />

        <form action="/noticias/salvar" method="post">
            <label>Titulo</label>
            <input type="text" id="titulo" name="titulo" placeholder="Titulo da Noticia" /> 
            <br/>
            <label>Noticia</label>
            <textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
            <br />
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>